@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    background-color: #ecf0f1;
    font-family: 'Poppins', sans-serif;
  }
  